@model List<onlineTicketing.Models.TicketViewModel>


@{
    ViewData["Title"] = "My Tickets";
}

<h2>My Tickets</h2>

<table class="table">
    <thead>
        <tr>
            <th>Ticket ID</th>
            <th>Subject</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Created At</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TicketId</td>
                <td>@item.Subject</td>
                <td>@item.Status</td>
                <td>@item.Priority</td>
                <td>@item.CreatedAt.ToShortDateString()</td>
                <td>
                    @* <a asp-action="Details" asp-route-id="@item.Id">View Details</a> *@
                    <a asp-action="Details" asp-route-id="@item.Id">Assign Ticket</a>
                    @* <a asp-action="Details" asp-route-id="@item.TicketId">Assign Ticket</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>